html, body {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;

}

#map {
	position: absolute;
	left: 0;
	top: 46px;
	right: 280px;
	bottom: 0
}

#nav-bar {
	background-color: black;
	background: black;
	z-index: 100;
	height: 46px;
	display: block;
	padding-left: 20px;
	li {
		list-style: none;
		padding: 5px;
		a {
			color: white;
			&:hover {
				color: black;
			}
		}
	}
}

#right-pane {
	position: fixed;
	top: 46px;
	right: 0;
	width: 250px;
	height: 100%;
	background-color: black;
	padding: 10px;
}