/* line 1, main.scss */
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 13, main.scss */
#map {
  position: absolute;
  left: 0;
  top: 36px;
  right: 280px;
  bottom: 0;
}

/* line 21, main.scss */
#nav-bar {
  background-color: black;
  background: black;
  z-index: 100;
  height: 36px;
  display: block;
  padding-left: 20px;
}
/* line 28, main.scss */
#nav-bar li {
  list-style: none;
  vertical-align: text-top;
  /*padding: 5px;*/
}
/* line 32, main.scss */
#nav-bar li a {
  color: white;
}
/* line 34, main.scss */
#nav-bar li a:hover {
  color: black;
}

/* line 41, main.scss */
#right-pane {
  position: fixed;
  top: 46px;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: black;
  padding: 10px;
}
